
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  /* *,
  *::after,
  *::before {
    margin: 0;
    box-sizing: border-box;
  } */
body{
    box-sizing: border-box;
    border-style: none;
    margin:0;
    padding:0;
    color:white;
    font-size: 21px;
    /* font-family: "lato"; */
}


.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #082032;
}

nav{
    position: absolute;
    top: 30px;
    padding-top: 20px;
    width: 80%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    padding: 50px;
    border-radius: 5px;
}

.date{
    display: flex;
    align-items: center;
    min-width: 20%;
}

nav .date{
    display: flex;
}

.date-hour{
    margin-right: 20px;
    font-size: 50px;
}
.date-day{
    font-weight: bold;
}

main{
    width: 80%;
    height: 70%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}




.next-days{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.day1{
    align-self: flex-start;
}

.location{
    font-size: 30px;
}


.day{
    color: #FFEBA1;
}


/* MODAL */

.modal{

    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #082032;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    overflow: scroll;
    z-index: 590234;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
    padding: 20px;

    border-bottom: 1px solid #fff;
}

.hidden{
    display: none;
    visibility:hidden;
}

.next-days div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.next-days div:not(:first-child) {
    margin-left: 10px;
    border-left: 1px solid rgba(226, 226, 226, 0.425);
    padding-left: 10px;
}



.family-list{
    padding-top: 20px;
    width: 50%;
    align-self: self-start;
    margin-left: 150px;
}


.modal-mini{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: fit-content;
    min-height: fit-content;
    
    background-color: #d3d0d0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 7px;
    color: white;
    min-width: 200px;
}


.modal-mini form{
    width: 100%;
}


option{
    padding: 10px;
}

.modal-mini form{
    display: flex;
    flex-direction: column;
}

.modal-mini-header{
    width: 100%;
    display: flex;
}

.modal-mini *{
    margin-bottom: 10px;

}


.family-member{
    background-color: rgb(211, 211, 211);
    width: max-content;
    height: max-content;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

.family-member>*{
    margin-left: 5px;
}

.family-list{
    display: flex;
}

.family-list>*{
    margin: 5px;
}

.shop{
    background-color: #23333f;
    color: wheat;
}
.add-member-modal{
    background-color: #FFFFFF;
    color: #082032;
}

.hero-action{
    width: 150px;
    height: 100%;
    border-style: none;
    border-radius: 5px;

    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}

.hero-action:hover{
    background-color: #FFEBA1;
    color: #082032;
}


.row1{

    display: flex;
    width: 100%;
    height: 170px;
    flex-wrap: wrap;
    margin-bottom: 10px;

}
.row2{

    display: flex;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;

}




.main-section{
    background-color: #334756;
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    height: 100%;
    margin-right: 10px;
    font-size: 22px;
   
    border: .0001px solid #fdfdff42;
    
}

.the-family{
    width: 13%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;
}

.hero-action{
    width: 17%;
    font-size: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #FFEBA1;
}

.action-icon{
    font-size: 45px;
}



.nav-item{
    border-style: none;
    background-color: #334756;
    color: #FFEBA1;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    
}

.nav-item:hover{
    background-color: #FFEBA1;
    color: #082032;
}

.nav-item:last-child{
    background-color: #FFEBA1;
    color: #082032;
}

.nav-items{
    margin-right: 8%;
}

.salah{
    width: 13%;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

    font-size: 20px;

    height: 100%;

}

.current-salah{
    color: #FFEBA1;
    font-size: 30px;
}

.bus{
    width: 13%;
}

.today{
    width: 38%;
}



.weather{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}
.meal-plan{
    width: 13%;

}

.weather-day{
    color: #FFEBA1;
}

/* main>*{
    border-radius: 100px;
} */
.salah-table>*{
    display: flex;
}


.the-family{
    font-size: 19px;

}

.family-title{
    color: #FFEBA1;
    font-size: 21px;
    margin-bottom: 10px;
    font-style: italic;
}

.family-pictures{
 
}

.family-pictures img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: -10px;

    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}




.shopping-action{
    width: 80%;
    margin: 20px;
}

.modal-btn{
    border-radius: 6px;
    border-style: none;
    padding: 7px;

    background-color: #082032;
    color: #FFFFFF;
    cursor: pointer;
}

.shop-btn{
    background-color: transparent;
    border: .5px solid #082032;
    color: #082032;
}

.lists{
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 20px;

    width: 40%;
    /* background-color: red; */
    justify-content: space-between;
}

.new-list-btn {
    margin-top: 20px;
    margin-left: 10%;
    align-self: flex-start;
    max-height: max-content;
}

.list{
    position: relative;
    padding: 15px;
    background-color: #334756;
    color: white;
    border-radius: 5px;
    width: 200px;
    max-height: min-content;
    margin-left: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;

    
}

.month-list{
    background-color: #343e46;
    max-height: min-content;
    
}

.week-list{
    
    max-height: min-content;
}

.list-title{
    font-size: 30px;
    margin: 10px 0;
}

.expand-list{
    position: absolute;
right: 10px;
top: 10px;

margin: 10px;
}

.list-items{
    margin-top: 20px;
}
.list-item{
    border-bottom: .5px solid white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.lists-action{
    display: flex;
}

.lists-action p{
    text-decoration: underline;
    margin:10px;
}

.add-item{
    background-color: #fff;
    color: #082032;
    width: max-content;
}

.add-item div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.add-item input{
    border-style: none;
    background-color: transparent;
    color: #23333f;
    border: .4px solid #082032;
    margin-left: 10px;
    border-radius: 2px;
    padding: 4px;
}

#quantity-controller{
    justify-content: space-evenly;
   font-size: 21px;
    width: 100%;
    margin-left: 30px;
}

#quantity{
    
    background-color: #334756;
    color: #d3d0d0;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
}


.list-item i{
    /* color: red; */
}
.list-item{
    display: flex;
    flex-direction: column;
}


.list-item:not(:first-child){
    border-top: .5px solid white;
}

.item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.shop{
    background-color: #050505;
}

.modal-mini-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.item-description{
    /* background-color: red; */

    font-weight: lighter;
    font-size: 15px;
    text-decoration: wavy;
    margin-bottom: 10px;
}

.modal-shopping{
    color: #fff;
    background-color: #082032;

}

.modal-travel{

    font-size: 21px;

}


.travel-content{
    width: 90%;
    margin-top: 30px;
    /* background-color: red; */
}

.modal-travel form{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    margin: 0 10px;
    /* background-color: red; */
    align-items: center;
    margin-left: 36%;
    
}

.modal-travel form >*:last-child {
    margin-left: 15px;
    padding: 5px;
    height: max-content;
}
.busstop-table{
    display: flex;
    justify-content: space-between;


    margin-top: 30px;
}


.busstop-table ul{

    list-style: none;
    width: 70%;

    align-self: flex-start;
}

.to-centre{
    text-align: center;
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.from-centre{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    /* border-left: 0.5px solid white; */
}




.busstop-table ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    background-color: #334756;
    margin: 3px 0px;
    border-radius: 2px;
}
.busstop-table .line{
   
}

.busstop-table ul li:first-child{
    /* color: #FFEBA1; */
}

.now{
    color: #FFEBA1;
}



  .highlight{
    animation-name: slideUp;
    animation-duration: 4s;
    animation-timing-function: ease-in;
  }


  .salah{
    font-size: 30px;
  }

  .salah-table{
    font-weight: 100;
    width: 70%;

    text-align: center;

    display: flex;
    align-items: center;
    height: max-content;
    margin-top: 20px;
    font-size: 30px;
  }

  .salah-table table{
    padding: 20px;
    width: 90%;
  }

  .salah-table tr,td,th{
    margin: 20px;
    border-bottom:2px solid #d3d0d0;
    border-collapse: collapse;
    padding: 10px;
  }


  .current{
    color:#FFEBA1;
    font-weight: bold;
  }


  .bold{
    font-weight: bold;
  }

  footer{
    position: absolute;
    bottom: 20px;
}

.light{
    font-weight: 100;
}


.recipes-list{
    margin-top: 20px;
}

.modal-recipes main{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.search-area{
    width: 70%;
}

.search-area input{
    padding: 15px;
    min-width: 200px;
    
}

.search-area button{

    height: 45px;
    width: 100px;
}

.recipe{
    color: #fdfeff;
    padding-bottom: 20px;
    border-radius: 4px;
    background-color: #334756;
    width: 200px;
    height: fit-content;
    margin: 10px;
    border: .001px solid #ffeba138;
}

.recipe:hover{
    transform: scale(1.005);
}


.recipe-details{
    padding: 15px;


}


.recipe-action{
    display: flex;
}

.recipe-action button{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 5px;
}

.recipe-image{

    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;


    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.64);
-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.64);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.64);
}


.recipe-image img{
    height: 100%;
    width: 100%;

    /* -webkit-filter: grayscale(100%);  */
    /* filter: grayscale(70%);  */
    cursor: pointer;
}

.recipe-image img:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}


.recipes-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.recipe-name{
    padding: 10px 0px;
}


.saved-recipes{
    width: 30%;
    border-style: none;
    padding-left: 20px;
    border: .5px solid white;
    background-color: #334756;
    padding: 15px;
    border-radius: 5px;
}


.saved-recipe{
    background-color: #23333f;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
}

.saved{
    background-color: #082032;
    color: white;
}


input{
    background-color: #334756;
    border: .5px solid #d3d0d0;
    color: #fff;
    border-radius: 5px;
}

button, select{
    border-style: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #FFEBA1;
    color: #334756;
    cursor: pointer;
    font-size: 15px;
    transition: .1s ease-in;
}

button:hover{
    background-color: #334756;
    color: white;
}


.recipe-details-modal{
    position: absolute;
    position: fixed;
    background-color: #082032;
    color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    overflow: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
    max-height: 75%;
    border: .5px solid #FFEBA1;
}

.recipe-details-modal header{
    display: flex;
    justify-content: space-between;
    align-items: start;

    width: 100%;
    color: white;
    margin-bottom: 20px;
    background-color: #334756;
    padding: 10px;
}

.meal-title{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.close-recipe-details{
    cursor: pointer;
}

.instrction{
    width: 70%;
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
    padding-left: 10px;
}

.instruction-number{
    margin-right: 10px;
    color: #fdfeff;
    text-align: center;
    padding: 5px;
    background-color: #082032;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

.instructions{
    border-left: 1px solid #ffffff;
    padding-left: -10px;

    border-top: 1px solid white;
    margin-top: 10px;
    }


.recipe-video{
    width: max-content;
    background-color: red;
        position: absolute;
        position: sticky;
        left:  80%;
        bottom: 0px;
        border-radius: 5px;

}

.recipe-details-modal h4{
    color: #FFEBA1;
}

.recipe-video img{
    width: 150px;
    height: 150px;
}

.ingredients{

    width: 70%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    height: fit-content;
    border-left: .5px solid #FFEBA1;
}
.ingredient{
    margin: 5px;
    padding: 5px;
    text-decoration: underline;

}

.more-ingredients{

    width: 70%;
    margin-bottom:15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    border-left: .5px solid #FFEBA1;
}

.hidden{
    visibility: hidden;
    display: none;
}

.more-ingredients-btn{
    background-color: #FFEBA1;
    padding: 7px;
    border-radius: 5px;
    color: #082032;
    width: max-content;
    cursor: pointer;
    margin-top: 10px;
}

.more-ingredients-btn:hover{
    background-color: #23333f;
    color: #FFEBA1;
}

.app-setting{
    /* animation-name: slideUp;
    animation-duration: .5s; */
    animation-timing-function: ease-in;
    position: absolute;
    top: 17%;
    right: 16.4%;
    width: 26%;
    height: 65%;
    background-color: #FFEBA1;
    color: #23333f;
    padding: 10px;
    border-radius: 8px;

    border-style: none;

}



@keyframes slideUp {
    0%,
    50% {
      transform: translateX(100%);
      opacity: 0;
    }
     
    60%,
    100% {
      transform: translateX(0);
      opacity: 1;
    
    }
  }


.iframe{
    position: absolute;
    top:400px;
    right: 10px;

}

.dev-status{
    position: absolute;
    top: 50px;
    right: 200px;
    background-color: #334756;
    color: #FFEBA1;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;

    z-index: 5000;
}